<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-12 mb-4 d-flex justify-content-between">
      <h3 class="w-100 d-flex justify-content-center">Hi, {{ user.name }}!</h3>
      <app-alert></app-alert>
    </div>
    <div
      class="col-12 mb-4 d-flex flex-column justify-content-center align-items-center"
    >
      <p>
        Workify Frontend is created with
      </p>
      <div class="d-flex align-items-center mt-3">
        <div class="d-flex flex-column align-items-center mr-2">
          <img src="./assets/typescript.svg" width="56" alt="Typescript Logo" />
          <span class="tool-name mt-2">Typescript</span>
        </div>
        <div class="d-flex flex-column align-items-center mr-2">
          <img src="./assets/angular.svg" width="128" alt="Angular Logo" />
          <span class="framework-name">Angular</span>
        </div>
        <div class="d-flex flex-column align-items-center">
          <img src="./assets/bootstrap.svg" width="56" alt="Typescript Logo" />
          <span class="tool-name mt-2">Bootstrap</span>
        </div>
      </div>
      <p class="mt-5">...and our passion for creating software!</p>
      <h6 class="mt-4 mb-3"><b style="color: #3178c6">const</b> developers: <b style="color: #3178c6">IDeveloper</b>[] = <span class="blink-animation">_</span></h6>
      <div class="d-flex">
        <div class="card mr-4">
          <div class="card-header text-center">Frontend Developer</div>
          <div class="card-body">
            <div
              class="LI-profile-badge m-5"
              data-locale="pl_PL"
              data-size="medium"
              data-theme="light"
              data-type="vertical"
              data-vanity="dawid-rzenno"
              data-version="v1"
            >
              <a
                class="LI-simple-link"
                href="https://pl.linkedin.com/in/dawid-rzenno?trk=profile-badge"
              >
                Dawid Rzenno
              </a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header text-center">Backend Developer</div>
          <div class="card-body">
            <div
              class="LI-profile-badge m-5"
              data-locale="pl_PL"
              data-size="medium"
              data-theme="light"
              data-type="vertical"
              data-vanity="piotr-sery%C5%82o-14a514207"
              data-version="v1"
            >
              <a
                class="LI-simple-link"
                href="https://pl.linkedin.com/in/piotr-seryło-14a514207?trk=profile-badge"
              >
                Piotr Seryło
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
