<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a
      class="navbar-brand"
      routerLink="/home"
      routerLinkActive="active"
    >Workify</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/home"
            routerLinkActive="active"
          >Home</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/time-tracker"
            routerLinkActive="active"
          >Time Tracker</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/calendar"
            routerLinkActive="active"
          >Calendar</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/notepad"
            routerLinkActive="active"
          >Notepad</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/log-in"
            routerLinkActive="active"
          >Log in</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/register"
            routerLinkActive="active"
          >Register</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link disabled"
            routerLink="/log-out"
            routerLinkActive="active"
          >Log out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="router-outlet">
  <router-outlet></router-outlet>
</div>
